.mxMinimalistTheme
{
	--gobanMaxWidth:calc(1em * 511 / 16);
	--color:#000;
	--border:1px solid #0007;
	--btnBk:#fff;
	--btnBorder:var(--border);
	--btnColor:var(--color);
	--selectedBtnBk:#000;
	--selectedBtnBorder:1px solid #000;
	--selectedBtnColor:#fff;
	text-align:left;
	max-width:var(--gobanMaxWidth);
}
/* adapt --gobanMaxWidth to match the svg viewBox with its container size if(1em==16px) */
.mxMinimalistTheme.mxIn3d {--gobanMaxWidth:calc(1em * 491 / 16);}
.mxMinimalistTheme.mxIndicesOff {--gobanMaxWidth:calc(1em * 463 / 16);}
.mxMinimalistTheme.mxIndicesOff.mxIn3d {--gobanMaxWidth:calc(1em * 445 / 16);}
/* general */
.mxMinimalistTheme button,
.mxMinimalistTheme select,
.mxMinimalistTheme textarea {-webkit-appearance:none;-moz-appearance:none;}
.mxMinimalistTheme button[disabled] {cursor:default;}
.mxMinimalistTheme input[type=file] {visibility:hidden;position:fixed;}
.mxMinimalistTheme [data-maxigos-disabled],
.mxMinimalistTheme [disabled] {opacity:0.5;}
.mxMinimalistTheme fieldset{border:0;margin:0;padding:0;}
.mxMinimalistTheme svg {display:block;width:100%;height:100%;}
.mxMinimalistTheme,
.mxMinimalistTheme button {font-family:sans-serif;}
.mxMinimalistTheme p:first-of-type {margin-top:0;}
/* do not style svg font-family here (already set using svg attributes) */
/* layout */
.mxMinimalistTheme.mxCommentConfig,
.mxMinimalistTheme.mxEditConfig,
.mxMinimalistTheme.mxLessonConfig,
.mxMinimalistTheme.mxTreeConfig
{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	align-items:stretch;
	gap:0.25em;
	max-width:calc(var(--gobanMaxWidth) * 2 + 0.25em + 4px);
}
.mxMinimalistTheme.mxCommentConfig>div,
.mxMinimalistTheme.mxEditConfig>div,
.mxMinimalistTheme.mxLessonConfig>div,
.mxMinimalistTheme.mxTreeConfig>div
{
	flex:1 1 calc(var(--gobanMaxWidth) + 2px);
	max-width:calc(var(--gobanMaxWidth) + 2px);
	display:flex;
	flex-direction:column;
}
.mxMinimalistTheme:not(.mxProblemConfig):not(.mxScoreConfig) .mxCommentDiv,
.mxMinimalistTheme .mxTreeDiv
{
	height:8em;
	min-height:2em;
	resize:vertical;
	overflow:auto;
	max-width:1px; /* minimize as much as possible (try narrow viewport and big zoom) */
}
.mxMinimalistTheme:not(.mxProblemConfig):not(.mxScoreConfig) .mxCommentDiv
{
	min-width:calc(100% - 0.5em - 2px);
}
.mxMinimalistTheme .mxTreeDiv
{
	min-width:calc(100% - 2px);
}
.mxMinimalistTheme.mxCommentConfig .mxCommentDiv,
.mxMinimalistTheme .mxTreeDiv
{
	/* do not flex:auto on .mxTreeConfig .mxCommentDiv */
	/* otherwise side effect when the user resizes .mxCommentDiv or .mxTreeDiv */
	flex:auto;
}
.mxMinimalistTheme .mxGobanDiv
{
	flex:auto;
	display:flex;
	flex-direction:column;
	max-width:var(--gobanMaxWidth);
}
.mxMinimalistTheme>div>.mxGobanDiv
{
	border:var(--border);
}
.mxMinimalistTheme .mxInnerGobanDiv
{
	margin:auto;
}
/* do not style anything inside minimalist svg */
/* use svg attributes to get a convenient minimal result even if no style */
/* buttons, inputs */
.mxMinimalistTheme .mxSgfParentDiv,
.mxMinimalistTheme .mxMenuDiv
{
	padding:0.25em;
	text-align:center;
}
.mxMinimalistTheme.mxScoreConfig .mxSgfParentDiv
{
	margin-top:0.5em;
}
.mxMinimalistTheme .mxSgfParentDiv>div,
.mxMinimalistTheme .mxMenuDiv>div
{
	display:inline-block;
	margin:0.25em 0;
}
.mxMinimalistTheme .mxSgfParentDiv button,
.mxMinimalistTheme .mxMenuDiv button,
.mxMinimalistTheme dialog button
{
	box-sizing:border-box;
	font-size:1em;
	margin:0.125em;
	padding:0 0.5em;
	height:1.75em;
	line-height:1.75em;
	white-space:nowrap;
}
.mxMinimalistTheme .mxSgfParentDiv button,
.mxMinimalistTheme .mxMenuDiv button
{
	border:var(--btnBorder);
	background:var(--btnBk);
	color:var(--btnColor);
}
.mxMinimalistTheme dialog button
{
	border:1px solid #777;
	background:#fff;
	color:#000;
}
.mxMinimalistTheme dialog button[value="FileInput"]
{
	min-height:1.75em;
	height:auto;
	white-space:normal;
}
.mxMinimalistTheme .mxSgfParentDiv button.mxSelectedBtn
{
	background:var(--selectedBtnBk);
	border:var(--selectedBtnBorder);
	color:var(--selectedBtnColor);
}
/* common */
.mxMinimalistTheme .mxTitleP
{
	font-weight:bold;
}
/* dialog */
.mxMinimalistTheme dialog,
.mxMinimalistTheme dialog *
{
	box-sizing:border-box;
}
.mxMinimalistTheme dialog::backdrop
{
  background: #0007;
}
.mxMinimalistTheme dialog
{
	min-width:min(50vw,19em);
	border:0;
	text-align:left;
	padding:0;
}
.mxMinimalistTheme dialog.mxEditSgfDialog,
.mxMinimalistTheme dialog.mxShowHelpDialog,
.mxMinimalistTheme dialog.mxShowPngDialog,
.mxMinimalistTheme dialog.mxShowSvgDialog
{
	width:calc(var(--gobanMaxWidth) * 3 / 2);
}
.mxMinimalistTheme dialog form
{
	margin:0;
	padding:0;
}
.mxMinimalistTheme dialog .mxContentFieldset
{
	padding:0.5em;
	min-width:100%;
}
.mxMinimalistTheme dialog.mxEditOptionsDialog .mxContentFieldset
{
	line-height:1.5em;
}
.mxMinimalistTheme dialog .mxMenuFieldset
{
	background:#eee;
	min-height:3em;
	line-height:3em;
	text-align:center;
}
.mxMinimalistTheme dialog label:not([for])
{
	display:block;
}
.mxMinimalistTheme dialog input[type=text]
{
	max-width:100%;
}
.mxMinimalistTheme dialog input[type=text],
.mxMinimalistTheme dialog select
{
	font-size:1em;
	border:var(--border);
	background:#fff;
}
.mxMinimalistTheme dialog select
{
	text-align:center;
}
.mxMinimalistTheme dialog a
{
	color:#000;
}
.mxMinimalistTheme dialog img
{
	display:block;
	margin:0 auto;
	max-width:100%;
	height:auto;
	border:0;
}
.mxMinimalistTheme dialog textarea
{
	display:block;
	width:100%;
	border:var(--border);
}
.mxMinimalistTheme .mxEditSgfDialog textarea
{
	font-family:monospace; /* for Safari? */
	white-space:pre-wrap;
	min-height:var(--gobanMaxWidth);
}
/* comment */
.mxMinimalistTheme:not(.mxProblemConfig):not(.mxScoreConfig) .mxCommentDiv
{
	border:var(--border);
	margin:0 auto;
	padding:0.25em;
}
/* guess */
.mxMinimalistTheme meter
{
	display:block;
	font-size:1em;
	margin:1em;
	padding:0;
	width:calc(100% - 2em);
	height:0.5em;
	border:var(--border);
	border-radius:0.25em;
	overflow:hidden;
	background:#0007; /* set "bad" color */
}
/* do not reunite ::-selectors below, otherwise error in webkit browsers */
.mxMinimalistTheme ::-moz-meter-bar
{
	width:100%;
    height:0.5em;
    border:0;
	background:#0000;
}
.mxMinimalistTheme ::-webkit-meter-bar
{
    width:100%;
    height:0.5em;
    border:0;
	border-radius:0;
    background:#0000;
}
/* set "good" color */
.mxMinimalistTheme :-moz-meter-optimum::-moz-meter-bar {background:#fff;}
.mxMinimalistTheme ::-webkit-meter-optimum-value {background:#fff;}
/* header */
.mxMinimalistTheme.mxGameConfig .mxHeaderDiv,
.mxMinimalistTheme.mxKifuConfig .mxHeaderDiv,
.mxMinimalistTheme.mxReplayConfig .mxHeaderDiv
{
	padding:0 2.5%;
}
/* navigation */
.mxMinimalistTheme .mxNavigationDiv
{
	box-sizing:border-box;
	display:flex;
	justify-content:space-around;
	align-items:center;
	height:2.5em;
}
.mxMinimalistTheme .mxNavigationDiv:empty
{
	display:none;
}
.mxMinimalistTheme .mxNavigationDiv button
{
	flex:1;
	font-size:1em;
	border:0;
	background:none;
	height:2em;
	padding:0.25em;
}
.mxMinimalistTheme .mxNavigationDiv button svg
{
	margin:auto;
}
.mxMinimalistTheme .mxAutoBtn[disabled],
.mxMinimalistTheme .mxPauseBtn[disabled]
{
	display:none;
}
/* notSeen */
.mxMinimalistTheme .mxNotSeenDiv>*:not(:empty)
{
	margin:0 auto;
	padding:0.25em;
}
/* speed */
.mxMinimalistTheme .mxSpeedDiv [type=range]
{
	--speedColor: #000;
	display:block;
	font-size:1em;
	margin:0;
	padding:0 1em;
	width:calc(100% - 2em);
	height:2.5em;
	border:0;
	border-radius:0;
	background:#0000;
}
.mxMinimalistTheme .mxSpeedDiv [type=range],
.mxMinimalistTheme .mxSpeedDiv [type=range]::-webkit-slider-thumb
{
	-webkit-appearance:none;
}
.mxMinimalistTheme .mxSpeedDiv [type=range]::-webkit-slider-runnable-track
{
	box-sizing:border-box;
	height:0.5em;
	border:0;
	border-radius:0.25em;
	background:var(--speedColor);
}
.mxMinimalistTheme .mxSpeedDiv [type=range]::-moz-range-track
{
	box-sizing:border-box;
	height:0.5em;
	border:0;
	border-radius:0.25em;
	background:var(--speedColor);
}
.mxMinimalistTheme .mxSpeedDiv [type=range]::-webkit-slider-thumb
{
	margin-top:-0.5em;
	box-sizing:border-box;
	width:1.5em;
	height:1.5em;
	border:0;
	border-radius:50%;
	background:var(--speedColor);
}
.mxMinimalistTheme .mxSpeedDiv [type=range]::-moz-range-thumb
{
	box-sizing:border-box;
	width:1.5em;
	height:1.5em;
	border:0;
	border-radius:50%;
	background:var(--speedColor);
}
/* tree */
.mxMinimalistTheme .mxTreeDiv
{
	border:var(--border);
	margin:0.25em auto 0 auto;
}
.mxMinimalistTheme .mxTreeDiv svg
{
	width:unset;
	height:unset;
}
/* version */
.mxMinimalistTheme .mxVersionDiv
{
	text-align:center;
	height:2.5em;
	line-height:2.5em;
}
/* |edit config| */
.mxMinimalistTheme.mxEditConfig
{
	--subBtnBk:var(--btnBk);
	--subBtnBorder:var(--border);
	--subBtnColor:var(--color);
	--toolBk:#0000;
	--toolBorder:var(--border);
	--toolColor:var(--color);
	--selectedToolBk:#0002;
	--selectedToolBorder:var(--border);
	--selectedToolColor:var(--color);
	--superSelectedToolBk:#0004;
	--superSelectedToolBorder:var(--border);
	--superSelectedToolColor:var(--color);
}
.mxMinimalistTheme.mxEditConfig.mxIn3d {--gobanMaxWidth:calc(1em * 511 / 16);}
.mxMinimalistTheme.mxEditConfig.mxIndicesOff {--gobanMaxWidth:calc(1em * 511 / 16);}
.mxMinimalistTheme.mxEditConfig.mxIndicesOff.mxIn3d {--gobanMaxWidth:calc(1em * 511 / 16);}
.mxMinimalistTheme.mxEditConfig
{
	--gobanScale:1;
	max-width:calc(var(--gobanMaxWidth) * var(--gobanScale) * 2 + 0.25em + 4px);
}
.mxMinimalistTheme.mxEditConfig>div
{
	flex:1 1 calc(var(--gobanMaxWidth) * var(--gobanScale) + 2px);
	max-width:calc(var(--gobanMaxWidth) * var(--gobanScale) + 2px);
}
.mxMinimalistTheme.mxEditConfig .mxGobanDiv
{
	margin:auto;
	width:100%;
	max-width:calc(var(--gobanMaxWidth) * var(--gobanScale));
}
.mxMinimalistTheme.mxEditConfig.mxIn3d .mxGobanDiv
{
	max-width:calc(var(--gobanMaxWidth) * var(--gobanScale) * 491 / 511);
}
.mxMinimalistTheme.mxEditConfig.mxIndicesOff .mxGobanDiv
{
	max-width:calc(var(--gobanMaxWidth) * var(--gobanScale) * 463 / 511);
}
.mxMinimalistTheme.mxEditConfig.mxIndicesOff.mxIn3d .mxGobanDiv
{
	max-width:calc(var(--gobanMaxWidth) * var(--gobanScale) * 445 / 511);
}
.mxMinimalistTheme.mxEditConfig .mxEditToolBarDiv
{
	display:grid;
	grid-template-columns:repeat(auto-fit,minmax(2.25em,1fr));
	gap:0.125em;
}
.mxMinimalistTheme.mxEditConfig .mxEditCommentToolDiv
{
	margin:0.25em 0 0 0;
	flex:initial;
}
.mxMinimalistTheme.mxEditConfig .mxEditCommentToolDiv textarea
{
	display:block;
	box-sizing:border-box;
	resize:vertical;
	height:7em;
	width:100%;
	background:transparent;
	border:var(--border);
}
.mxMinimalistTheme.mxEditConfig .mxMenuDiv .mxOneMenuDiv
{
	text-align:left;
}
.mxMinimalistTheme.mxEditConfig .mxMenuDiv .mxSubMenuDiv
{
	position:absolute;
	z-index:1;
	display:none;
	margin-top:0.125em;
}
.mxMinimalistTheme.mxEditConfig .mxMenuDiv .mxSubMenuDiv.mxSubMenuOpen
{
	display:flex;
	flex-flow:column;
}
.mxMinimalistTheme.mxEditConfig .mxMenuDiv .mxSubMenuDiv button
{
	border:var(--subBtnBorder);
	background:var(--subBtnBk);
	color:var(--subBtnColor);
	margin:0;
	width:100%;
	text-align:left;
	border-bottom:0;
}
.mxMinimalistTheme.mxEditConfig .mxMenuDiv .mxSubMenuDiv button:last-of-type
{
	border-bottom:var(--subBtnBorder);
}
.mxMinimalistTheme.mxEditConfig .mxMenuDiv .mxSubMenuDiv button.mxCoched,
.mxMinimalistTheme.mxEditConfig .mxMenuDiv .mxSubMenuDiv button.mxCochable
{
	padding-left:1.25em;
}
.mxMinimalistTheme.mxEditConfig .mxMenuDiv .mxSubMenuDiv button.mxCoched:before
{
	position:absolute;
	left:0.375em;
	content:"✓";
}
.mxMinimalistTheme.mxEditConfig .mxEditToolBarDiv>*
{
	display:block;
	box-sizing:border-box;
	font-size:1em;
	padding:0.125em;
	background:var(--toolBk);
	border:var(--toolBorder);
	border-radius:0;
}
.mxMinimalistTheme.mxEditConfig .mxEditToolBarDiv input
{
	text-align:center;
}
.mxMinimalistTheme.mxEditConfig .mxEditToolBarDiv>*
{
	color:var(--toolColor);
}
.mxMinimalistTheme.mxEditConfig .mxEditToolBarDiv button .mxFillable
{
	fill:var(--toolColor);
}
.mxMinimalistTheme.mxEditConfig .mxEditToolBarDiv button .mxStrokable
{
	stroke:var(--toolColor);
}
.mxMinimalistTheme.mxEditConfig.mxIn2d .mxEditToolBarDiv button circle.mxWhite
{
	fill:#fff;
	stroke:var(--toolColor);
}
.mxMinimalistTheme.mxEditConfig.mxIn2d .mxEditToolBarDiv button circle.mxBlack
{
	fill:var(--toolColor);
	stroke:var(--toolColor);
}
.mxMinimalistTheme.mxEditConfig.mxIn2d .mxEditToolBarDiv button circle.mxWhite+text
{
	fill:var(--toolColor);
}
.mxMinimalistTheme.mxEditConfig .mxEditToolBarDiv .mxSelectedEditTool
{
	background:var(--selectedToolBk);
	border:var(--selectedToolBorder);
	color:var(--selectedToolColor);
}
.mxMinimalistTheme.mxEditConfig .mxEditToolBarDiv .mxSelectedEditTool text
{
	fill:var(--selectedToolColor);
	stroke:var(--selectedToolColor);
}
.mxMinimalistTheme.mxEditConfig .mxEditToolBarDiv .mxSuperSelectedEditTool
{
	background:var(--superSelectedToolBk);
	border:var(--superSelectedToolBorder);
	color:var(--superSelectedToolColor);
}
.mxMinimalistTheme.mxEditConfig .mxEditToolBarDiv .mxSuperSelectedEditTool text
{
	fill:var(--superSelectedToolColor);
	stroke:var(--superSelectedToolColor);
}
.mxMinimalistTheme.mxEditConfig dialog.mxShowHelpDialog
{
	counter-reset:helpH2;
}
.mxMinimalistTheme.mxEditConfig dialog.mxShowHelpDialog h1
{
	font-size:2em;
}
.mxMinimalistTheme.mxEditConfig dialog.mxShowHelpDialog h2
{
	counter-reset:helpH3;
}
.mxMinimalistTheme.mxEditConfig dialog.mxShowHelpDialog h2:before {
	counter-increment:helpH2;
	content:counter(helpH2) ". ";
}
.mxMinimalistTheme.mxEditConfig dialog.mxShowHelpDialog h3:before {
	counter-increment:helpH3;
	content:counter(helpH2) "." counter(helpH3) ". ";
}
.mxMinimalistTheme.mxEditConfig dialog .mxFigureOrNotP+.mxTabNumberingP
{
	padding-left:2em;
}
.mxMinimalistTheme.mxEditConfig dialog.mxEditInfoDialog
{
	width:calc(var(--gobanMaxWidth) * 3 / 2);
}
.mxMinimalistTheme.mxEditConfig dialog.mxEditInfoDialog .mxContentFieldset
{
	display:grid;
	grid-gap:0.5em;
	grid-template-columns:repeat(auto-fit, minmax(9em,1fr));
}
.mxMinimalistTheme.mxEditConfig dialog div.mxResultDiv,
.mxMinimalistTheme.mxEditConfig dialog label.mxGC,
.mxMinimalistTheme.mxEditConfig dialog label.mxGN
{
	grid-column:1 / -1;
}
.mxMinimalistTheme.mxEditConfig dialog div.mxResultDiv
{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	gap:0.125em;
}
.mxMinimalistTheme.mxEditConfig dialog div.mxResultDiv label.mxSC
{
	white-space:nowrap;
}

.mxMinimalistTheme.mxEditConfig dialog.mxEditInfoDialog span,
.mxMinimalistTheme.mxEditConfig dialog.mxEditInfoDialog span+input[type=text]
{
	display:block;
	width:100%;
}
/* |edit config| */
/* |lesson config| */
.mxMinimalistTheme.mxLessonConfig>div:first-of-type
{
	align-self:end;
}
.mxMinimalistTheme.mxLessonConfig .mxLessonDiv
{
	box-sizing:border-box;
	position:relative;
	margin:0 auto 0.25em auto;
	width:100%;
}
.mxMinimalistTheme.mxLessonConfig .mxLessonDiv>:first-child
{
	position:absolute;
	z-index:1;
	bottom:120px;
	left:10%;
	right:10%;
	border-radius:1.5em;
	font-family:"Chalkboard SE","Comic Sans MS",sans-serif;
	background-color:#fff;
	text-align:center;
}
.mxMinimalistTheme.mxLessonConfig .mxLessonDiv>img
{
	display:block;
	margin:0 auto;
}
.mxMinimalistTheme.mxLessonConfig .mxLessonDiv>:first-child:empty
{
	display:none;
}
.mxMinimalistTheme.mxLessonConfig.mxIn3d .mxLessonDiv>:first-child {padding:8px 8px 8px 12px;box-shadow:4px 4px 12px #0007;}
.mxMinimalistTheme.mxLessonConfig.mxIn2d .mxLessonDiv>:first-child {padding:8px;border:var(--border);}
.mxMinimalistTheme.mxLessonConfig .mxLessonDiv.mxTE>:first-child,
.mxMinimalistTheme.mxLessonConfig .mxLessonDiv.mxBM>:first-child
{
	margin-left:2.25em;
	min-height:2.25em;
}
.mxMinimalistTheme.mxLessonConfig .mxLessonDiv.mxTE>:first-child::before,
.mxMinimalistTheme.mxLessonConfig .mxLessonDiv.mxBM>:first-child::before
{
	background-repeat:no-repeat;
	background-position:left center;
	background-size:2em;
	display:block;
	height:2em;
	width:2em;
	content:"";
	position:absolute;
	top:0.25em;
	left:0.25em;
}
.mxMinimalistTheme.mxLessonConfig .mxLessonDiv.mxTE>:first-child::before
{
	background:url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 128 128" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle fill="none" stroke="black" stroke-width="4" cx="64" cy="64" r="48"/><circle fill="black" cx="48" cy="48" r="8"/><circle fill="black" cx="80" cy="48" r="8"/><path fill="none" stroke="black" stroke-width="4" d="M44,78A32 32 0 0 0 84,78"/></svg>');
}
.mxMinimalistTheme.mxLessonConfig .mxLessonDiv.mxBM>:first-child::before
{
	background:url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 128 128" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle fill="none" stroke="black" stroke-width="4" cx="64" cy="64" r="48"/><circle fill="black" cx="48" cy="48" r="8"/><circle fill="black" cx="80" cy="48" r="8"/><path fill="none" stroke="black" stroke-width="4" d="M44,86A32 32 0 0 1 84,86"/></svg>');
}
/* |lesson config| */
/* |problem config| */
.mxMinimalistTheme.mxProblemConfig .mxCommentDiv
{
	display:flex;
	justify-content:center;
	min-height:2.25em;
}
.mxMinimalistTheme.mxProblemConfig .mxCommentContentDiv p
{
	margin:0.5em;
	padding:0;
	line-height:1.25em;
}
.mxMinimalistTheme.mxProblemConfig .mxSolveDiv
{
	text-align:center;
}
.mxMinimalistTheme.mxProblemConfig button
{
	border:0;
	background:none;
	margin:0.125em 1em;
	padding:0;
	width:10%;
	min-width:1cm;
	height:auto;
}
/* |problem config| */
/* focus, hover and cursor */
.mxMinimalistTheme .mxGobanSvg:not(:focus-visible) {outline:0;}
.mxMinimalistTheme .mxGobanSvg:not(:focus-visible) .mxFocus {display:none;}
.mxMinimalistTheme button:focus-visible
{
	position:relative;
	z-index:10;
}
.mxMinimalistTheme button,
.mxMinimalistTheme:not(.mxDiagramConfig):not(.mxKifuConfig):not(.mxLoopConfig) .mxGobanDiv svg,
.mxMinimalistTheme [type=range],
.mxMinimalistTheme .mxTreeDiv svg circle,
.mxMinimalistTheme .mxTreeDiv svg polygon,
.mxMinimalistTheme .mxTreeDiv svg rect,
.mxMinimalistTheme .mxTreeDiv svg text {cursor:pointer;}
