.mxForumTheme
{
	--gobanMaxWidth:calc(1em * 491 / 16);
	--globalBk:transparent;
	--outerGobanBk:#0688C822;
	--barBk:#0688C8CC;
	--barColor:#000000;
	--focusColor:#bd2a4d;
	--onBlackColor:#fff;
	--onWhiteColor:#000;
	--commentBk:#0688C822;
	--headerBk:#0688C844;
	--treeBk:#0688C844;
	--dialogBk:#0688C822;
	--dialogMenuBk:#0688C822;
	text-align:left;
}
.mxForumTheme.mxIndicesOff {--gobanMaxWidth:calc(1em * 445 / 16);}
/* general */
.mxForumTheme button {-webkit-appearance:none;-moz-appearance:none;}
.mxForumTheme text {cursor:default;}
.mxForumTheme input[type=text][disabled],
.mxForumTheme button[disabled] {cursor:default;}
.mxForumTheme fieldset{border:0;margin:0;padding:0;}
.mxForumTheme svg {display:block;}
/* font */
.mxForumTheme
{
	font-family:sans-serif;
}
.mxForumTheme svg
{
	font-family:arial,sans-serif;
}
.mxForumTheme button
{
	font-family:sans-serif;
}
/* layout */
.mxForumTheme
{
	max-width:var(--gobanMaxWidth);
	margin:0 auto;
}
/* common */
.mxForumTheme .mxTitleP
{
	font-weight:bold
}
.mxForumTheme .mxInnerGobanDiv
{
	margin:0 auto;
}
.mxForumTheme.mxIn3d.mxDiagramConfig .mxInnerGobanDiv,
.mxForumTheme.mxIn3d.mxProblemConfig .mxInnerGobanDiv
{
	box-shadow:0 0.1em 0.2em rgba(0,0,0,0.2);
}
.mxForumTheme .mxGobanDiv svg
{
	width:100%;
	height:100%;
	/* background:url(forum-goban.png); */
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAABCAIAAABYG7kIAAAAAXNSR0IArs4c6QAAACVJREFUCNdjvLMpmoOdmYGB4c+ff3/+/oewf/36y8DAwMaGRRwA1rMT7jfYpPIAAAAASUVORK5CYII=);
	background-repeat:repeat;
}
.mxForumTheme text.mxOnBlack.mxLabel,
.mxForumTheme text.mxOnBlack.mxVariation
{
	fill:var(--onBlackColor);
	stroke:var(--onBlackColor);
}
.mxForumTheme text.mxOnWhite.mxLabel,
.mxForumTheme text.mxOnWhite.mxVariation,
.mxForumTheme text.mxOnEmpty.mxLabel,
.mxForumTheme text.mxOnEmpty.mxVariation
{
	fill:var(--onWhiteColor);
	stroke:var(--onWhiteColor);
}
.mxForumTheme text.mxOnEmpty.mxVariation
{
	paint-order:stroke;
	stroke-width:2px;
	stroke:var(--onBlackColor);
	font-weight:bold;
}
.mxForumTheme text.mxOnEmpty.mxVariation.mxOnFocus
{
	fill:var(--focusColor);
	stroke:var(--onBlackColor);
}
.mxForumTheme .mxMark.mxOnEmpty.mxVariation.mxOnFocus
{
	stroke:var(--focusColor);
}
.mxForumTheme .mxPointBackground.mxOnEmpty.mxVariation.mxOnFocus
{
	stroke:none;
}
.mxForumTheme .mxMarkOnLast
{
	fill:var(--focusColor);
	stroke:var(--focusColor);
}
.mxForumTheme .mxFocusMark
{
	fill:none;
	stroke:var(--focusColor);
	stroke-width:2px;
}
.mxForumTheme .mxWhiteRadialGradient stop:nth-of-type(2)
{
	stop-color:#bbb;
}
.mxForumTheme .mxWhiteRadialGradient stop:nth-of-type(3)
{
	stop-color:#000;
}
/* basic, comment, game and tree */
.mxForumTheme.mxBasicConfig,
.mxForumTheme.mxCommentConfig,
.mxForumTheme.mxGameConfig,
.mxForumTheme.mxTreeConfig
{
	background:var(--globalBk);
}
.mxForumTheme.mxCommentConfig .mxCommentDiv,
.mxForumTheme.mxTreeConfig .mxCommentDiv,
.mxForumTheme.mxTreeConfig .mxTreeDiv
{
	height:7em;
	border:1px solid transparent;
	padding:0.25em;
	overflow:auto;
	resize:vertical;
	background:var(--commentBk);
}
.mxForumTheme.mxTreeConfig .mxTreeDiv
{
	margin:0;
	max-height:42em;
}
.mxForumTheme.mxBasicConfig .mxGobanDiv,
.mxForumTheme.mxCommentConfig .mxGobanDiv,
.mxForumTheme.mxGameConfig .mxGobanDiv,
.mxForumTheme.mxTreeConfig .mxGobanDiv
{
	background:var(--outerGobanBk);
}
.mxForumTheme.mxGameConfig .mxHeaderDiv
{
	padding:0.25em;
	background:var(--headerBk);
}
.mxForumTheme.mxTreeConfig .mxTreeDiv
{
	background:var(--treeBk);
}
.mxForumTheme.mxTreeConfig .mxTreeDiv svg .mxFocus
{
	fill:var(--focusColor);
	opacity:1;
}
/* diagram */
.mxForumTheme .mxInnerNotSeenDiv:not(:empty)
{
	margin:0.5em auto 0 auto;
}
.mxForumTheme .mxInnerNotSeenDiv
{
	margin:0 auto;
}
.mxForumTheme .mxNotSeenSvg
{
	width:100%;
	height:100%;
	display:block;
}
/* problem */
.mxForumTheme.mxProblemConfig .mxCommentDiv
{
	margin:0 auto 0.5em auto;
	text-align:center;
	border:1px solid transparent;
}
.mxForumTheme.mxProblemConfig .mxCommentContentDiv
{
	display:inline-block;
	text-align:justify;
}
.mxForumTheme.mxProblemConfig .mxCommentContentDiv p
{
	margin:0;
}
/* buttons and inputs */
.mxForumTheme .mxMenuFieldset button,
.mxForumTheme .mxOptionsDiv button,
.mxForumTheme .mxPassDiv button
{
	font-weight:bold;
	margin:1px;
	text-transform:uppercase;
	color:#bc2a4d;
	border-radius:0.4em;
	border:1px solid #858585;
	background:#f1f1f1;
	background:linear-gradient(to top,#dfdfdf,#ffffff);
	padding:0.375em 1em 0.25em 1em;
}
.mxForumTheme :not(.mxSolveDiv):not(.mxPassDiv) button[disabled] {opacity:0.3;}
.mxForumTheme .mxPassDiv button[disabled] {color:#999;}
.mxForumTheme .mxSolveDiv button[disabled] svg {fill:#999;}
.mxForumTheme input[type=text]
{
	text-align:center;
}
/* cartouche */
.mxForumTheme .mxCartoucheDiv
{
	background:var(--barBk);
	color:var(--barColor);
	position:relative;
	min-height:2.5em;
	line-height:2.5em;
	padding:0 2.5em 0 2.75em;
}
.mxForumTheme .mxCartoucheDiv:first-of-type
{
	margin-bottom:1px;
}
.mxForumTheme .mxCartoucheDiv .mxPlayerStoneDiv
{
	box-sizing:border-box;
	position:absolute;
	top:0;
	left:0;
	width:2.5em;
	height:2.5em;
	padding:0.125em;
}
.mxForumTheme .mxCartoucheDiv .mxPlayerStoneDiv svg
{
	width:100%;
	height:100%;
}
.mxForumTheme .mxCartoucheDiv .mxRankLabelSpan
{
	display:none;
}
.mxForumTheme .mxCartoucheDiv .mxPlayerDiv,
.mxForumTheme .mxCartoucheDiv .mxRankDiv
{
	display:inline-block;
	margin-right:0.25em;
}
.mxForumTheme .mxCartoucheDiv .mxPrisonersDiv
{
	font-size:0.75em;
	position:absolute;
	right:0;
	bottom:0;
	display:flex;
	margin-right:calc(0.25em / 0.75);
}
.mxForumTheme .mxCartoucheDiv .mxPrisonersLabelSpan
{
	display:none;
}
.mxForumTheme .mxCartoucheDiv .mxPrisonersStoneSpan
{
	display:flex;
	height:2em;
	width:1em;
	line-height:2em;
	margin-left:calc(0.125em / 0.75);
}
.mxForumTheme .mxCartoucheDiv .mxPrisonersStoneSpan svg
{
	width:1em;
	height:1em;
	margin:auto;
}
.mxForumTheme .mxCartoucheDiv .mxPrisonersSpan
{
	height:2em;
	line-height:2em;
}
/* dialog */
.mxForumTheme dialog,
.mxForumTheme dialog *
{
	box-sizing:border-box;
}
.mxForumTheme dialog::backdrop
{
  background: rgba(0,0,0,0.5);
}
.mxForumTheme dialog
{
	min-width:min(50vw,19em);
	border:1px solid #999;
	text-align:left;
	padding:0;
	background:#fff;
}
.mxForumTheme dialog form
{
	margin:0;
	padding:0;
	background:var(--dialogBk);
}
.mxForumTheme dialog .mxContentFieldset
{
	padding:0.5em;
	min-width:100%;
}
.mxForumTheme dialog.mxEditOptionsDialog .mxContentFieldset
{
	line-height:1.5em;
}
.mxForumTheme dialog .mxMenuFieldset
{
	background:var(--dialogMenuBk);
	min-height:3em;
	line-height:3em;
	text-align:center;
}
.mxForumTheme dialog label:not([for])
{
	display:block;
}
.mxForumTheme input:not(:checked)~.mxNumFromTextSpan,
.mxForumTheme input:not(:checked)~.mxNumWithTextSpan
{
	display:none;
}
/* navigation */
.mxForumTheme.mxBasicConfig .mxNavigationDiv,
.mxForumTheme.mxGameConfig .mxNavigationDiv
{
	background:var(--barBk);
	padding:0 0.25em;
	min-height:3em;
	line-height:3em;
}
.mxForumTheme.mxCommentConfig .mxNavigationParentDiv,
.mxForumTheme.mxTreeConfig .mxNavigationParentDiv
{
	background:var(--barBk);
	display:flex;
	align-items:center;
	justify-content:space-between;
	flex-wrap:wrap;
	padding:0 0.25em;
	min-height:3em;
	line-height:3em;
}
.mxForumTheme.mxIn3d.mxBasicConfig .mxNavigationDiv,
.mxForumTheme.mxIn3d.mxCommentConfig .mxNavigationParentDiv,
.mxForumTheme.mxIn3d.mxGameConfig .mxNavigationDiv,
.mxForumTheme.mxIn3d.mxTreeConfig .mxNavigationParentDiv
{
	box-shadow:0 0.1em 0.2em rgba(0,0,0,0.2);
}
.mxForumTheme.mxCommentConfig .mxOptionsDiv,
.mxForumTheme.mxCommentConfig .mxPassDiv
{
	flex:0;
}
.mxForumTheme .mxNavigationDiv
{
	flex:1;
	margin:0 auto;
	text-align:center;
	display:flex;
	justify-content:space-around;
	align-items:center;
	flex-wrap:wrap;
	padding-top:0.25em;
	padding-bottom:0.25em;
}
.mxForumTheme .mxNavigationDiv button
{
	font-size:1em;
	flex:1 1;
	display:flex;
	justify-content:center;
	align-items:center;
	border:0.25em solid transparent;
	border-radius:0.5em;
	background:transparent;
	margin:0;
	padding:0;
	max-width:3em;
	min-width:2em;
	height:2.5em;
}
.mxForumTheme .mxNavigationDiv button svg
{
	width:2em;
	height:2em;
	fill:none;
	background-size:contain;
	background-position:center;
	background-repeat:no-repeat;
}
.mxForumTheme .mxNavigationDiv .mxFirstBtn,
.mxForumTheme .mxNavigationDiv .mxTenPredBtn,
.mxForumTheme .mxNavigationDiv .mxPredBtn
{
	transform:scaleX(-1);
}
.mxForumTheme .mxNavigationDiv .mxPredBtn svg,
.mxForumTheme .mxNavigationDiv .mxNextBtn svg
{
	background-image:url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 1000 1000' height='1000' width='1000'><path d='M786,523C804,506 803,485 786,473L358,207C323,184 300,211 300,241V755C299,794 331,806 358,789Z'/></svg>");
}
.mxForumTheme .mxNavigationDiv .mxTenPredBtn svg,
.mxForumTheme .mxNavigationDiv .mxTenNextBtn svg
{
	background-image:url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 1000 1000' height='1000' width='1000'><path d='M976,521C994,506 994,485 976,475L604,227C572,206 552,229 552,257V739C551,775 580,783 604,769ZM522,521C540,506 540,485 522,475L162,227C131,206 110,230 110,257V739C109,774 138,784 162,769Z'/></svg>");
}
.mxForumTheme .mxNavigationDiv .mxFirstBtn svg,
.mxForumTheme .mxNavigationDiv .mxLastBtn svg
{
	background-image:url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 1000 1000' height='1000' width='1000'><path d='M612,521C631,505 629,487 612,475L250,247C219,227 200,250 200,277V719C199,754 226,763 250,749ZM726,789C775,789 800,769 800,731V265C800,226 775,207 726,207 675,207 650,226 650,265V731C650,769 675,789 726,789Z'/></svg>");
}
.mxForumTheme .mxNavigationDiv .mxPauseBtn svg
{
	background-image:url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 1000 1000' height='1000' width='1000'><path d='M626,789Q700,789 700,731V265Q700,207 626,207 550,207 550,265V731Q550,789 626,789ZM374,789Q300,789 300,731V265Q300,207 374,207 450,207 450,265V731Q450,789 374,789Z'/></svg>");
}
.mxForumTheme .mxNavigationDiv .mxAutoBtn svg
{
	background-image:url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 1000 1000' height='1000' width='1000'><path d='M901,521C919,506 919,485 901,475L629,227C597,206 577,229 577,257V739C576,775 605,783 629,769ZM99,521C80,506 80,485 99,475L371,227C402,206 422,229 423,257V739C423,775 394,783 371,769Z'/></svg>");
}
.mxForumTheme .mxNavigationDiv button.mxAutoBtn[disabled],
.mxForumTheme .mxNavigationDiv button.mxPauseBtn[disabled]
{
	display:none;
}
.mxForumTheme .mxNavigationDiv .mxGotoInput
{
	font-size:1em;
	width:2.5em;
	height:1.75em;
	border:1px solid #ccc;
	text-align:center;
	margin:0.125em 0;
}
.mxForumTheme .mxSolveDiv
{
	margin:0.25em auto;
	display:flex;
	justify-content:center;
	align-items:center;
}
.mxForumTheme .mxSolveDiv button
{
	flex:1;
	display:flex;
	justify-content:center;
	align-items:center;
	max-width:4em;
	height:4em;
	padding:0;
	margin:0.125em;
	border-radius:0.4em;
	border:1px solid #c7c3be;
	background:#f1f1f1;
	background:linear-gradient(to bottom,#fcfcfc,#f1f1f1,#e8e8e8);
}
.mxForumTheme .mxSolveDiv button svg
{
	width:3em;
	height:3em;
	fill:#bc2a4d;
}
/* focus */
.mxForumTheme *:not([type=radio]):not([type=checkbox]):focus {outline:none;}
.mxForumTheme .mxGobanSvg:not(:focus-visible) .mxFocus {display:none;}
.mxForumTheme.mxCommentConfig .mxCommentDiv:focus,
.mxForumTheme.mxTreeConfig .mxCommentDiv:focus,
.mxForumTheme.mxTreeConfig .mxTreeDiv:focus,
.mxForumTheme.mxProblemConfig .mxCommentDiv:focus
{
	border:1px solid #000;
}
.mxForumTheme .mxNavigationDiv .mxGotoInput:focus
{
	border:1px solid #000;
}
.mxForumTheme .mxNavigationDiv button:focus
{
	border:0.25em solid #0003;
}
.mxForumTheme .mxNavigationDiv button:hover:not([disabled])
{
	border:0.25em solid #0003;
}
.mxForumTheme .mxNavigationDiv button:focus:hover:not([disabled])
{
	border:0.25em solid #0006;
}
.mxForumTheme .mxMenuFieldset button:hover,
.mxForumTheme .mxMenuFieldset button:focus,
.mxForumTheme .mxOptionsDiv button:hover,
.mxForumTheme .mxOptionsDiv button:focus,
.mxForumTheme .mxPassDiv button:hover,
.mxForumTheme .mxPassDiv button:focus
{
	background:#f1f1f1;
	background:linear-gradient(to top,#ffffff,#dfdfdf);
}
.mxForumTheme .mxMenuFieldset button:hover,
.mxForumTheme .mxOptionsDiv button:hover,
.mxForumTheme .mxPassDiv button:hover,
.mxForumTheme input[type=text]:hover
{
	border:1px solid #5195d1;
}
.mxForumTheme .mxMenuFieldset button:focus,
.mxForumTheme .mxOptionsDiv button:focus,
.mxForumTheme .mxPassDiv button:focus,
.mxForumTheme input[type=text]:focus
{
	border:1px solid #000;
}
.mxForumTheme .mxSolveDiv button:focus {border:1px solid #000;}
.mxForumTheme button,
.mxForumTheme:not(.mxDiagramConfig) .mxGobanDiv svg,
.mxForumTheme .mxTreeDiv svg circle,
.mxForumTheme .mxTreeDiv svg polygon,
.mxForumTheme .mxTreeDiv svg rect,
.mxForumTheme .mxTreeDiv svg text {cursor:pointer;}

