.mxFmTheme
{
	--gobanMaxWidth:calc(1em * var(--gobanIntrinsicWidth,445) / 16);
	--columnMaxWidth:max(var(--gobanMaxWidth),calc(1em * 445 / 16));
	text-align:left;
	margin:0 auto;
	/* general */
	& text {cursor:default;}
	& [disabled] {cursor:default;opacity:0.3;}
	& form,fieldset{border:0;margin:0;padding:0;}
	& svg {display:block;width:100%;height:100%;}
	&,
	& button {font-family:sans-serif;font-size:1em;}
	/* layout */
	&
	{
		box-sizing:border-box;
		max-width:var(--columnMaxWidth);
	}
	&.mxGameConfig,
	&.mxProblemConfig
	{
		background-color:#0001;
	}
	&.mxGameConfig
	{
		display:flex;
		flex-wrap:wrap;
		justify-content:center;
		max-width:calc(var(--columnMaxWidth) * 7 / 4);
	}
	&.mxGameConfig .mxGobanParent
	{
		box-sizing:border-box;
		max-width:var(--columnMaxWidth);
		flex:4 1 var(--columnMaxWidth);
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
		gap:0.5em;
	}
	&.mxGameConfig .mxHeaderParent
	{
		box-sizing:border-box;
		/* when vertical layout, both columns have the same width */
		max-width:var(--columnMaxWidth);
		width:100%;
		/* when horizontal layout, 2nd column is narrower */
		flex:3 1 calc(var(--columnMaxWidth) * 3 / 4);
		display:flex;
		flex-direction:column;
		justify-content:space-between;
		padding:min(5vw,0.5em);
	}
	&.mxGameConfig .mxSgfParent
	{
		text-align:center;
	}
	&.mxGameConfig .mxSgfParent button
	{
		margin:0.25em;
	}
	& .mxVersionBox
	{
		text-align:center;
		min-height:2.5em;
		line-height:2.5em;
	}
	/* common */
	&.mxGameConfig .mxGobanBox
	{
		display:flex;
		width:100%;
	}
	& .mxGobanContent
	{
		max-width:var(--gobanMaxWidth);
		margin:auto;
	}
	&.mxGameConfig .mxGobanContent
	{
		max-width:100%;
		width:100%;
	}
	&.mxIn3d .mxGobanContent
	{
		box-shadow:0 0.25em 0.5em rgba(0,0,0,0.3);
	}
	& .mxGobanBox svg .mxWholeRect
	{
		fill:#fc9;
	}
	& text
	{
		stroke-width:0.5px;
		stroke:#000;
	}
	& text.mxOnBlack,
	& .mxBlack+text
	{
		stroke:#fff;
	}
	& .mxHeaderTitle
	{
		color:#900;
		font-weight:bold;
		text-align:center;
	}
	& p
	{
		margin:0;
		padding:0;
	}
	& p:not(:first-child)
	{
		padding-top:0.5em;
	}
	/* diagram */
	& .mxNotSeenBox:not(:empty)
	{
		max-width:var(--gobanMaxWidth);
		margin:0.5em auto 0 auto;
	}
	/* game */
	&.mxGameConfig .mxHeaderBox
	{
		padding:min(2.5vw,0.25em);
		margin-bottom:0.5em;
		max-width:100%;
		overflow-wrap:anywhere;
	}
	&.mxGameConfig .mxGuessBox
	{
		flex:0;
		width:100%;
		min-height:2.5em;
		display:flex;
		align-items:center;
	}
	&.mxGameConfig meter
	{
		--meterGoodColor:#090;
		--meterBadColor:#900;
		--meterBorder:0;
		display:block;
		font-size:1em;
		margin:0 auto;
		padding:0;
		width:calc(100% - 4vw);
		height:0.5em;
		border:0;
		border-radius:0.25em;
		overflow:hidden;
		background:var(--meterBadColor);
	}
	/* do not reunite ::-selectors below, otherwise error in webkit browsers */
	&.mxGameConfig ::-webkit-meter-bar
	{
		width:100%;
		height:0.5em;
		border:0;
		border-radius:0;
		background:#0000;
	}
	&.mxGameConfig .mxGuessBox ::-webkit-meter-optimum-value
	{
		background:var(--meterGoodColor);
	}
	@supports selector(::-moz-meter-bar)
	{
		&.mxGameConfig .mxGuessBox :-moz-meter-optimum::-moz-meter-bar
		{
			background:var(--meterGoodColor);
		}
	}
	/* problem */
	&.mxProblemConfig .mxCommentBox
	{
		margin:0 auto 0.5em auto;
		text-align:center;
		min-height:1.5em;
		line-height:1.5em;
	}
	&.mxProblemConfig .mxCommentContent
	{
		display:inline-block;
		text-align:justify;
	}
	&.mxProblemConfig .mxCommentContent p
	{
		margin:0;
	}
	/* comment */
	&.mxProblemConfig .mxCommentBox
	{
		padding:0.5em;
	}
	/* dialog */
	& dialog,
	& dialog *
	{
		box-sizing:border-box;
	}
	& dialog::backdrop
	{
	  background: #0007;
	}
	& dialog
	{
		max-width:calc(100% - 5vw);
		border:0;
		padding:0;
	}
	& dialog form
	{
		background-color:#eeb;
	}
	& dialog .mxContentFieldset
	{
		padding:min(5vw,0.5em);
	}
	& dialog .mxMenuFieldset
	{
		background:#0001;
		min-height:3em;
		line-height:3em;
		text-align:center;
	}
	& dialog h1
	{
		color:#900;
	}
	& dialog label:not([for])
	{
		display:block;
	}
	& dialog input[type=text]
	{
		max-width:100%;
	}
	& dialog img
	{
		display:block;
		margin:0 auto;
		max-width:100%;
		height:auto;
		border:0;
	}
	& dialog.mxShowSgfDialog .mxContentFieldset
	{
		font-family:monospace;
		white-space:pre-wrap;
	}
	/* options */
	& .mxOptionsBox
	{
		line-height:1.5em;
		max-width:100%;
		overflow-wrap:anywhere;
	}
	& .mxOptionsBox label:not([for])
	{
		display:block;
	}
	& .mxNumberingOnCheckbox:not(:checked)~span
	{
		display:none;
	}
	& a
	{
		color:#000;
	}
	/* navigation */
	& .mxNavigationBox
	{
		margin-top:1em;
		width:100%;
		height:2em;
		box-sizing:border-box;
		display:flex;
		justify-content:space-between;
		align-items:center;
	}
	& .mxNavigationBox button
	{
		flex:1;
		border:0;
		background:transparent;
		margin:min(1%,0.25em);
		padding:0;
		display:flex;
		justify-content:center;
		align-items:center;
	}
	& .mxNavigationBox button svg
	{
		flex:1;
		max-width:60%;
		max-height:80%;
		margin:auto;
	}
	& .mxNavigationBox button.mxAutoBtn[disabled],
	& .mxNavigationBox button.mxPauseBtn[disabled]
	{
		display:none;
	}
	/* solve */
	& .mxSolveBox
	{
		text-align:center;
	}
	& .mxSolveBox button
	{
		width:min(33%,3.3em);
		margin:min(6.6%,0.66em);
		padding:0;
		border:0;
		background:none;
	}
	/* speed */
	& .mxSpeedBox
	{
		width:calc(100% - 4vw);
		margin:0.5em auto;
	}
	& .mxSpeedBox input
	{
		width:100%;
	}
	/* focus, hover and cursor */
	& :not(:focus-visible) {outline:none;}
	& .mxGobanSvg:not(:focus-visible) .mxFocus {display:none;}
	& button:not([disabled]),
	& input[type=range]:not([disabled]),
	&:not(.mxDiagramConfig) .mxGobanBox svg {cursor:pointer;}
}
